// Label variable

$label-padding-x: 1em !default;
$label-padding-y: .5em !default;

$label-color: #797979 !default;
$label-background: #e0e0e0 !default;

$label-font-size: .86em !default;
$label-font-weight: 700 !default;

$label-border-radius: .35em !default;

$label-close-font-family: FontAwesome !default;
$label-close-icon: '\f00d' !default;

